body{
	/*background-image: url("image1.jpg");*/
	background-color: dimgrey ;	
}
.header{
	height: 20px;
	width:1200px;
	max-height: 20px;
	margin: -60px;
	font-size: 26px;
	text-align: center;
	background-color:#018D6B;
}
.main{
	min-height: 300px;
	height: relative;
	width: 1050px;
	background-color:white;
	margin: auto;
	margin-top: 10px;
	/*box-shadow: 2px 2px 2px #CCCCCC;*/
}

.headtop {
	background-color: #420612;
	width: 1250px;
	height: 30px;
	text-align: center;
	font-family: 'calibri';
	font-size: 26px;
	color: white;
}

/*.btext {
  -moz-animation-duration: 400ms;
  -moz-animation-name: blink;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  
  -webkit-animation-duration: 400ms;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  
  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-moz-keyframes blink {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}*/

.pagehead {
	height: 20px;
	margin: -60px;
	font-size: 26px;
	font-family: 'Segoe UI Light';
	text-align: center;
	color: darkslategray ;
}

.formlabel {
	text-align: left;
	height: 20px;
	margin: -60px;
	font-size: 16px;
	font-family: 'Segoe UI Light';
	color: maroon ;
}

.detaillabel {
	height: 20px;
	margin: -60px;
	font-size: 16px;
	font-family: 'calibri';
	color: black;
}

.detailprice {
	height: 20px;
	margin: -60px;
	font-size: 18px;
	font-family: 'calibri';
	color: dimgrey;
}

.detailed {
	height: 20px;
	margin: -60px;
	font-size: 14px;
	font-family: 'calibri';
	color: dimgrey;
}

.detaillabels {
	height: 20px;
	margin: -60px;
	font-size: 20px;
	font-family: 'calibri';
	color: darkslategray;
	font-weight: bold;
}

.textbox {
	border:1px solid #456879;
	background-color: #420612;
	border-radius: 0px;
	height: 22px;
	width: 350px;
	vertical-align: center;
	color:white;
	margin-top: 10px;
}

.textbox1 {
	border:1px solid #456879;
	/*background-color: #8FCDBE;*/
	border-radius: 0px;
	height: 22px;
	width: 350px;
	vertical-align: center;
	margin-top: 10px;
}

.textbox2 {
	border:1px solid #456879;
	/*background-color: #8FCDBE;*/
	border-radius: 0px;
	height: 22px;
	width: 250px;
	vertical-align: center;
	margin-top: 10px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: 'calibri';

}

.btn-primary{
	/*border:1px solid #456879;*/
	color: black;
	font-size: 18px;
	line-height: 1.428571429;
	padding: 6px 12px;
	background-color: peru;
	width: 100px;
	height: 30px;
	margin: right;
}
.btn-primary:hover{
	cursor:hand;
    font-weight:bold;
    background-color: saddlebrown ;
    color: black;
}

.btn-login{
	/*border:1px solid #456879;*/
	color: white;
	font-size: 18px;
	line-height: 1.428571429;
	padding: 6px 12px;
	background-color: saddlebrown;
	width: 100px;
	height: 30px;
	margin: right;
}
.btn-login:hover{
	cursor:hand;
    font-weight:bold;
    background-color: saddlebrown ;
    color: white;
}

.btn-secondary{
	font-size: 17px;
	color: white;
	background-color: peru;
	line-height: 0;
	padding: 6px 12px;
	width: 60px;
	height: 15px;
	margin: right;
}
.btn-secondary:hover{
	color: black;
	background-color: peru;
}

.btn-add{
	color: yellow;
	background-color: saddlebrown;
	width: 80px;
	height: 25px;
}

.btn-mail{
	color: white;
	background-color: saddlebrown;
	width: 250px;
	height: 25px;
	font-size: 18px;
	text-decoration: none;
}

.footer{
	color: black;
	font-family: 'calibri';
	line-height: 3.428571429;
	/*background-color: brown;*/
	height: 40px;
	/*width: 1500px;*/
	font-size: 14px;
	text-align: center;
}

#mainnav{
	width:90%;
	vertical-align:top;
	background-color: black;
	margin-top: 55px;
	display: block;
	box-shadow: 2px 2px 2px #CCCCCC;
	padding: 5px;
}
.format {
    float: right;
    width: 90px;
    height: 90px;
    margin: 5px;
}

ul#horiznav, #horiznav ul{/*remove the bullets from the dropdown ul as well*/
margin:0;
padding:0;
list-style-type:none;
height:32px;
font-family: 'arial';
}

#horiznav li{
float:left;
width:152px;
position:relative/*set position:relative as the start point for absolutely positioning the dropdown*/
}

#horiznav li a{
display:block;
width:150px;
line-height:30px;
text-align:center;
color:white;
text-decoration:none;
background-color:#018D6B;
border:3px solid white
}

#horiznav li a:hover{
background-color: saddlebrown ;
}

#horiznav li ul{
display:none;/*hide the dropdown*/
position:absolute;/*position it absolutely..*/
left:0;/*...align the left edge with the left edge of the parent li...*/
top:32px/*...and 32px down from the top - 30px height + 2px for the border*/
}

#horiznav li:hover ul {
display:block/*display the ul when the parent li is hovered*/
}

#horiznav li ul a{
background-color:#018D6B/*give the dropdown a different background colour*/
}

    .reportTable 
{
    border:1px;
    border-collapse:collapse;
}

.reportTable .header
{
    background-color: tan ;
    text-transform: uppercase;
    font-family: 'Segoe UI Light';
	color: maroon ;
    font-weight: lighter;
}

.reportTable .row1
{
    background-color: #DCDCDC;
}

.reportTable .row2
{
    background-color:White;
}

.reportTable tr:hover
{
    background-color:powderblue;
}

.helptable .header
{
    text-transform: uppercase;
    font-family: 'Segoe UI Light';
	color: maroon;
    font-weight: lighter;
    background-color: white;
}

.helptable
{
    font-family: 'Segoe UI Light';
    font-weight: lighter;
    color: #018D6B;
}

